# Data Cleaning

In [7]:
# As always
import pandas as pd
import numpy as np

### Building a dataframe by hand

In [8]:
some_data = [1, 2, 3, 4, 5] # list of numbers
some_more_data = ['a', 'b', 'c', 'd', 'e'] # list of letters
some_booleans = [True, False, True, True, True] # list of booleans
df = pd.DataFrame({'numbers':some_data, 'letters':some_more_data, 'bools':some_booleans})
df

   numbers letters  bools
0        1       a   True
1        2       b  False
2        3       c   True
3        4       d   True
4        5       e   True

We can checkout the datatypes of each column using `df.info()`

### Changing data types

In [10]:
classes  = ['Transfiguration', 'Charms', 'Potions', 'History of Magic', 'Defence Against the Dark Arts', 'Astronomy and Herbology']
ratings = ['5', 3.2, 1, 2, '4', '3.5'] # Note: Some of these are strings, floats, and ints
grades = pd.DataFrame({'courses':classes, 'ratings':ratings})
grades

                         courses ratings
0                Transfiguration       5
1                         Charms     3.2
2                        Potions       1
3               History of Magic       2
4  Defence Against the Dark Arts       4
5        Astronomy and Herbology     3.5

Say we want to double the rating values

That's not what we expected- Let's drop that column

Let's try scaling ratings again

Before, our `ratings` column had mixed datatypes, floats and strings. 
<br>In python, when we multiply a string, we repeat it, so we got `"55"` instead of `10` for the first entry

To change the datatype, we can convert each element in the `ratings` series

Pandas offers us some easier functions to convert data types, such as the `.astype()` function

<br> Check out what happens when we pass `'str'`, `'float'`, and `'int'` to `.astype()`

## Handling missing values

Missing data is a common issue, and an incredible headache in machine learning.

<br> Take, for example, this dataframe with several `NaN` and `None` values, both of which can be used to represent missing data

In [18]:
students = ['Bill Weasley', 'Charlie Weasley', 'Percy Weasley', 'Fred Weasley', np.nan, 'Ron Weasley', 'Ginny Weasley']
years = [np.nan, np.nan, 6, 4, 4, 2, 1]
interests = ['dragons', 'gringots', 'ministry of magic', 'jokes', 'jokes', np.nan, np.nan]

weasleys = pd.DataFrame({'student':students,'year' :years, 'interests':interests})
weasleys

           student  year          interests
0     Bill Weasley   NaN            dragons
1  Charlie Weasley   NaN           gringots
2    Percy Weasley   6.0  ministry of magic
3     Fred Weasley   4.0              jokes
4              NaN   4.0              jokes
5      Ron Weasley   2.0                NaN
6    Ginny Weasley   1.0                NaN

### Identifying missing values

We can use `.isna()` on a dataframe or series


Here, we've specified the axis on which we'd like to apply the sum operation. 
<br>To sum *across* rows, to get one value *per column*, we used axis = 0.
    - In general for axes: Rows = 0, Columns = 1

If we wanted instead to see how many null values we have for every child, we'd swap the axis:

Remember, we want a breakdown *by row*, so we're counting the number of rows *across* each column

### Strategy 1: Dropping rows with missing values

By far the easiest way of dealing with missing data is just dropping rows that have missing values.

By default, `dropna()` will drop rows that have a null value for *any* column

You might also need to drop NAs only if it's present for a single column. 
<br>In this case, we can pass the `subset=` argument to `.dropna()` to select for current hogwarts students

### Strategy 2: Filling in missing values

We can fill in missing values in a variety of different ways. 
<br> We can use a specific value (like the mean), forward-fill, back-fill, or use a variety of more advanced imputation methods using ML

Replacing missing values with a specific value:

We can select a particular column to fill nulls with too

## String processing

Often, a dataset will contain string representations of data that could be really useful if you could find some way to extract it. 

<br> Let's start off with a dataframe

In [26]:
roster = ['Oliver Wood', 'Angelina Johnson', 'Katie Bell', 'Alicia Spinnet', 'Fred Weasley', 'George weasley', 'Harry Potter'] 
role = ['Keeper','chaser','Chaser','chaser','beater','beater','SeEKeR']

quidditch = pd.DataFrame({'player':roster, 'role':role})
quidditch

             player    role
0       Oliver Wood  Keeper
1  Angelina Johnson  chaser
2        Katie Bell  Chaser
3    Alicia Spinnet  chaser
4      Fred Weasley  beater
5    George weasley  beater
6      Harry Potter  SeEKeR

It'd be great if we could work with just the first names of everyone. 

With normal python strings, this is pretty easy to do using the `.split()` function:

Let's try using that to extract the first names from the column `player`

Looks like we got an error: We can't use split() on the series object directly.
<br><br> Instead, we have to "vectorize it" using `.str`  first

The `.str` part is a pretty nifty tool when we wanna access special functions just to work with strings. We'll see this come up with special functions for dealing with time.

Before we move on, check out the object type of the output using `type()`

### Lambda apply functions

Lambda apply functions are a pretty helpful tool for cleaning, here's one quick example

Quite literally, this reads: <br>

For every element `x` in the series `quidditch.player`, take the first element of `x` and save it to a new column `first_name`
<br> In other words, we are **apply**ing the *anonymous* function `x[0]` for every row in the series

### Changing capitalization to better process text

Let's look at how many players are in each role

`chaser` and `Chaser` should be the same role, but because of a mismatch in cases, we're getting unique results.

<br>An easy way to solve this is by converting all the text to a uniform case

**Try it out**: How many Weasleys are on the team?

## Date & Time processing

In [76]:
person = ['Harry', 'Hermoine', 'Ron', 'Voldy']
birthdays = ['July 31st, 1980', '9-19-1979', '1980 Mar 1', '12//31// //1926']

bdays = pd.DataFrame({'person': person, 'birthday': birthdays})
bdays

     person         birthday
0     Harry  July 31st, 1980
1  Hermoine        9-19-1979
2       Ron       1980 Mar 1
3     Voldy  12//31// //1926

Yikes! Let's see if we can clean up the time series data using `pd.to_datetime`

As you can see, `pd.to_datetime` is pretty powerful. In can read in quite a few time formats as strings, then convert them into a `Timestamp` series

In [78]:
type(bdays.birthday[0])

pandas._libs.tslibs.timestamps.Timestamp

Unfortunately, there are some formats `pd.to_datetime()` won't recognize on its own

In [79]:
birthdays_messy = ['7###31asdf1980', '9###19asdf1979', '3###1asdf1980', '12###31asdf1926']

bdays_messy = pd.DataFrame({'person': person, 'birthday': birthdays_messy})
bdays_messy

     person         birthday
0     Harry   7###31asdf1980
1  Hermoine   9###19asdf1979
2       Ron    3###1asdf1980
3     Voldy  12###31asdf1926

In [80]:
bdays_messy['birthday'] = pd.to_datetime(bdays_messy['birthday'])
bdays_messy

ParserError: Unknown string format: 7###31asdf1980

However, we CAN specify the format ourselves! 
<br><br>Look up the documentation (google!) to see if we can pass any parameters to help it along

In [81]:
bdays_messy['birthday'] = pd.to_datetime(bdays_messy['birthday'], format = '%m###%dasdf%Y')
bdays_messy

     person   birthday
0     Harry 1980-07-31
1  Hermoine 1979-09-19
2       Ron 1980-03-01
3     Voldy 1926-12-31

Other string datetime object formats:
https://strftime.org/

### Using pandas datetime objects

We can pull quite a lot just from a datetime timestamp using attributes

In [82]:
harry_bday = bdays.at[0, 'birthday'] # Taking the value for harry's bday
print(harry_bday) # the raw timestamp

1980-07-31 00:00:00

### Make new columns from these datetime attributes

Let's use this to make new columns that reflect these attributes:

Or, we could instead use the `.dt` accessor object, to snag the month for each row, just like we did with `.str`

Try it out with the others:

### Other uses for datetimes

Which people were born before the first wizarding war (January 1970)/

We can also do some quick maths quite easily:

<br> For example, how much older is Hermione than Ron?

Note: this returns a `Timedelta` object, not `Timestamp`. We can get similar attributes

### How can we apply this?

When you get data that includes time as a variable, it'll be in one of many possible formats, and not always consistent throughout the whole dataset. 


`pd.to_datetime` makes the process of cleaning these incredibly easy!

Once cleaned, we can look at specific attributes such as month, day, and year **to gain insight we wouldn't otherwise have been able to access.**

There's a lot, lot more you can do with pandas datetimes - use business days, adjust for time zones - just about anything you'd imagine.

The docs for all of that is linked here: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#overview

## Merging DataFrames

Merging sources of data is super important:
    
<br> Sometimes you have data from two different sources that you'd like to have in one data frame to analyze. We can do that with `.concat()` and `.merge()`

In [55]:
spells = ['Summoning Charm', 'Patronus Charm', 'Disarming Charm', 'Killing Curse', 
          'Cruciatus Curse', 'Impediment Jinx', 'Dark Mark']

In [56]:
incantations = ['Accio', 'Excpecto Patronum', 'Expelliarmus', 'Avada Kedavra', 'Crucio', 'Impedimenta', 'Morsmordre']

incantations_df = pd.DataFrame({'Spell': spells, 'Incantation': incantations})
incantations_df

             Spell        Incantation
0  Summoning Charm              Accio
1   Patronus Charm  Excpecto Patronum
2  Disarming Charm       Expelliarmus
3    Killing Curse      Avada Kedavra
4  Cruciatus Curse             Crucio
5  Impediment Jinx        Impedimenta
6        Dark Mark         Morsmordre

In [57]:
effects = ['Summons an Object', 'Spirit to Guard Against Dementors', 'Disarms an Opponent', 'Instantaneous Death',
           'Excruciating Pain', 'Hinders Movement', 'Conjures Dark Mark']

effects_df = pd.DataFrame({'Spell': spells, 'Effect': effects})
effects_df

             Spell                             Effect
0  Summoning Charm                  Summons an Object
1   Patronus Charm  Spirit to Guard Against Dementors
2  Disarming Charm                Disarms an Opponent
3    Killing Curse                Instantaneous Death
4  Cruciatus Curse                  Excruciating Pain
5  Impediment Jinx                   Hinders Movement
6        Dark Mark                 Conjures Dark Mark

In [58]:
colors = ['None', 'Silver', 'Scarlet', 'Green', 'Red or None', 'Turquoise', 'Green']

colors_df = pd.DataFrame({'Spell': spells, 'Light Color': colors})
colors_df

             Spell  Light Color
0  Summoning Charm         None
1   Patronus Charm       Silver
2  Disarming Charm      Scarlet
3    Killing Curse        Green
4  Cruciatus Curse  Red or None
5  Impediment Jinx    Turquoise
6        Dark Mark        Green

In [59]:
# Quick helper
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style=\"display:inline\"'),raw=True)

In [60]:
display_side_by_side(incantations_df,effects_df,colors_df)

,Spell,Incantation
0,Summoning Charm,Accio
1,Patronus Charm,Excpecto Patronum
2,Disarming Charm,Expelliarmus
3,Killing Curse,Avada Kedavra
4,Cruciatus Curse,Crucio
5,Impediment Jinx,Impedimenta
6,Dark Mark,Morsmordre
,Spell,Effect
0,Summoning Charm,Summons an Object
1,Patronus Charm,Spirit to Guard Against Dementors
2,Disarming Charm,Disarms an Opponent
3,Killing Curse,Instantaneous Death
4,Cruciatus Curse,Excruciating Pain
5,Impediment Jinx,Hinders Movement
6,Dark Mark,Conjures Dark Mark
,Spell,Light Color
0,Summoning Charm,None
1,Patronus Charm,Silver
2,Disarming Charm,Scarlet
3,Killing Curse,Green
4,Cruciatus Curse,Red or None
5,Impediment Jinx,Turquoise
6,Dark Mark,Green

Note that each one of these dataframes have a column in common, `Spell`.

The order of the values may not be same, but we're still good to go

### pd.Merge()

Instead of working with three distinct dataframes, let's combine them into one df

To do so, we can call `.merge()` on two data tables and specify the column on which to merge as `on=`

By chaining them we can combine multiple dfs

### Join logic

In [63]:
more_spells = ['Disarming Charm', 'Dark Mark', 'Imperius Curse', 'Sectumsempra', 'Levitation Charm']
more_incantations = ['Expelliarmus', 'Morsmordre', 'Imperio', 'Sectumsempra', 'Wingardium Leviosa']

more_incantations_df = pd.DataFrame({'Spell': more_spells, 'Incantation': more_incantations})
more_incantations_df

              Spell         Incantation
0   Disarming Charm        Expelliarmus
1         Dark Mark          Morsmordre
2    Imperius Curse             Imperio
3      Sectumsempra        Sectumsempra
4  Levitation Charm  Wingardium Leviosa

With the previous merges, we had the same number of observations in every dataframe.

<br>With some merges, not every row may align. Let's try to merge `more_incantations_df` with `effects_df`. Note how there are some dining halls in common, and some unique to each

In [64]:
display_side_by_side(more_incantations_df,effects_df)

,Spell,Incantation
0,Disarming Charm,Expelliarmus
1,Dark Mark,Morsmordre
2,Imperius Curse,Imperio
3,Sectumsempra,Sectumsempra
4,Levitation Charm,Wingardium Leviosa
,Spell,Effect
0,Summoning Charm,Summons an Object
1,Patronus Charm,Spirit to Guard Against Dementors
2,Disarming Charm,Disarms an Opponent
3,Killing Curse,Instantaneous Death
4,Cruciatus Curse,Excruciating Pain
5,Impediment Jinx,Hinders Movement
6,Dark Mark,Conjures Dark Mark

We can do two different merges now: 
1. If we want to retain **only** those in common, we use an `inner` join
2. If we want to keep **everything**, and keep placeholders for missing data, we use an `outer` join

### pd.Concat()

Another *similar* function is `.concat()` 

It's a little different from `.merge()`, since we'll have to pass in a `list` of dataframes instead

That didn't quite work as expected, because `concat()` stacked the dataframes above each other, instead of combining information for common rows.

Note that it **didn't combine rows** when `merge()` easily could have.

One example of when `concat()` is appropriate is when we want to add on more information to a dataframe, but the **rows are the different** between the two

In [68]:
incantations_all = pd.concat([incantations_df, more_incantations_df]).reset_index(drop=True).drop_duplicates()
# The reset_index() allows us to prevent overlapping of the indices

incantations_all

               Spell         Incantation
0    Summoning Charm               Accio
1     Patronus Charm   Excpecto Patronum
2    Disarming Charm        Expelliarmus
3      Killing Curse       Avada Kedavra
4    Cruciatus Curse              Crucio
5    Impediment Jinx         Impedimenta
6          Dark Mark          Morsmordre
9     Imperius Curse             Imperio
10      Sectumsempra        Sectumsempra
11  Levitation Charm  Wingardium Leviosa

`Concat` can also horizontally stack dataframes, usng the `axis=1` argument. 

Here's a case where it might be useful:

In [69]:
more_info_df = pd.DataFrame({'Dark Magic': ['No', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes'], 
                             'Type': ['Charm', 'Charm', 'Charm', 'Curse', 'Curse', 'Jinx', 'Curse']})
more_info_df

  Dark Magic   Type
0         No  Charm
1         No  Charm
2         No  Charm
3        Yes  Curse
4        Yes  Curse
5         No   Jinx
6        Yes  Curse

Note the difference between `.concat(axis=1)` and `.merge()`. We would use `.concat()` when there isn't a duplicate column (a key), and `.merge()` when there is one.