## Gap Data, Part 2

#### Data Documentation:
<br>**Description**: Synthetic dataset from Gap Inc., representing a random sample of individual purchases from Q1 FY2020. <br>Each row is a unique item purchased in an order
<br><br>

| **Feature** | **Description**    | **Sample Value(s)**  |
| ------- | -----------    | ------------- |
| OrderID | Unique identifier per transaction (7-digit) | DRW7C20   |
| CustomerID | Unique identifier per customer (5-digit) | KP441   |
| ProductID  | Unique identifier per item (8-digit) | 13-817-239 |
| StoreID | Unique identifier per store (4-digit) | #4176 |
| OrderType | How purchase was completed  | InStore, HomeDelivery, Online |
| Timestamp | Timestamp of transaction (YYYY-MM-DD) | 2020-01-18 10:13:56	 |
| Brand | Which reporting segment of Gap Inc. bought from | Banana Republic |
| ItemSize | Size of item | XS, S, M, L, X, XL |
| ProductName | Name of item associated with item identifier | Pink Polo by Kanye |
| Collection | Which part of store | Denim Shop |
| Price | Listed price of item | $29.95 |
| ClearanceType | Type of clearance | Retail, Clearance, Final Sale |
| DiscountType | If Gap Card rewards was used | Reward points, Promotion, GapCash, Other |
| StoreName | Store name (i.e. Mall), or facility where online order was shipped from | Barracks Shopping Center |
| Address | Store location | Charlottesville, VA |
| Lat | Store latitude | 38.054034 |
| Lon | Store longitude | -78.499492 |

<br>


One common task that data folks have to do is **merge data from various sources**.

<bR>For example, it'd be a pretty big waste of space on a database to keep listing all the attributes of a store for each item, if we could store them seperately and link them back up when we need to.

<br>This kind of file is sometimes known as a **crosswalk** or **lookup table**. We have individual observations (Gap sales data), and we want to link it up to information about the store.

### Data & Package Imports

In [9]:
import pandas as pd
import numpy as np

In [201]:
base_url = 'https://raw.githubusercontent.com/ishaandey/node/master/week-3/lab/'
sales = pd.read_csv(base_url+'gap_sales.csv', sep='|')
store_lookup = pd.read_csv(base_url+'gap_stores.csv', sep='|')
locations = pd.read_csv(base_url+'gap_store_locations.csv', sep='|')

## Store Data

### Fill Missing Values

If you look carefully at the stores, you'll notice that for both the Gap and Banana Republic stores, the StoreName value is empty.

<br>Turns out, there was a mistake made when correcting a typo in the database, and now all stores for 'Williamsburg Premium Outlets' are showing missing. 

1. Check the entries for StoreID `#4479` and `#1812` in the store lookup table
2. Fill in the missing value for **store name** (not whole dataframe)
3. Double check that stores #1812 and #4479 no longer have a missing value for either field

In [224]:
store_lookup[store_lookup.StoreID.isin(['#1812','#4479'])] #1

              Brand StoreID                     StoreName
3   Banana Republic   #4479  Williamsburg Premium Outlets
22              Gap   #1812  Williamsburg Premium Outlets

In [225]:
store_lookup['StoreName'] = store_lookup.StoreName.fillna('Williamsburg Premium Outlets') # 2

In [226]:
store_lookup[store_lookup.StoreID.isin(['#1812','#4479'])] #3

              Brand StoreID                     StoreName
3   Banana Republic   #4479  Williamsburg Premium Outlets
22              Gap   #1812  Williamsburg Premium Outlets

### Merge to Location Data

1. Take a look at both the store lookup and location tables. There's only 15 locations, but 25 stores- That's because some locations have both Banana and Gap stores at the same site.

2. Take a look at both dataframes. What columns do they have in common? <br>(Hint: The column name may not be the same, but the values are)

In [227]:
print(store_lookup.shape) # 1
store_lookup.head(3)

(25, 3)

  Brand StoreID                        StoreName
0   Gap   #6802  Fashion Centre at Pentagon City
1   Gap   #7104          Norfolk Premium Outlets
2   Gap   #8289                   Fair Oaks Mall

In [228]:
print(locations.shape)
locations.head(3)

(15, 4)

,Store,Lat,Lon,Address
0,Fashion Centre at Pentagon City,38.863382,-77.060497,"Fashion Centre at Pentagon City, South Hayes S..."
1,Norfolk Premium Outlets,36.881809,-76.200231,"1600, Camden Heights, Norfolk, Virginia, 23502..."
2,Fair Oaks Mall,38.862904,-77.358853,"Fair Oaks Mall, Fairfax Farms, Fair Oaks, Fair..."

We're now ready to complete the merge, to have one consolidated table that has both the store IDs, and store locations for each store in Virginia.

3. Use the `pd.merge()` function to merge both dataframes together, and specify the keys using the columns you found above (pass these to the `left_on` and `right_on` parameters)

4. Drop the `Store` column from this merged dataframe, since it's now redundant.

In [229]:
stores = pd.merge(store_lookup, locations, left_on='StoreName', right_on='Store',how='left', sort=True).drop(columns='Store')
stores.head(3)

,Brand,StoreID,StoreName,Lat,Lon,Address
0,Banana Republic,#6569,Barracks Road Shopping Center,38.054034,-78.499492,"Barracks Road Shopping Center, The Meadows, Ch..."
1,Gap,#9901,Charlottesville Fashion Square,38.077009,-78.474995,"Charlottesville Fashion Square, East Rio Road,..."
2,Banana Republic,#9033,Dulles Town Center,39.027745,-77.419950,"Dulles Town Center, Loudoun County, Virginia, ..."

## Merging it all

Now that we have the store data cleaned up, let's merge it back onto the main dataset, `sales`.

1. Check which columns are in common between both datasets. (Hint: Think ID, not name)

2. Drop one of the duplicated `Brand` columns in `stores`

3. Merge the `sales` and `stores` dataframe into `df`

In [230]:
df = pd.merge(sales, stores.drop(columns='Brand'), on='StoreID', how='left')
df.sample()

,OrderID,CustomerID,ProductID,StoreID,OrderType,Timestamp,Brand,ItemSize,ProductName,Collection,Price,StoreName,Lat,Lon,Address
3307,ZKZQ10S,SM737,82-161-128,#4479,HomeDelivery,2020-01-09 20:03:26,Banana Republic,L,Mullet-Cut Midi Fur Skirt,Women's Bottoms,88.99,Williamsburg Premium Outlets,37.319881,-76.737188,"5715, Ewell Hall, James City County, Virginia,..."

## Date Times

Our goal: Isolate sales that were made at various timepoints. The issue is that our transaction timestamp isn't very helpful as a string. 

1. Process the `Timestamp` column, so that it's now a datetime object.

2. How many items were sold in the month of February?

3. What were the total sales after 4:00 PM on Valentine's Day? <br>(Hint: 4pm is 16 on a 24 hour scale)

4. What was the most popular item sold on Valentine's Day?

In [232]:
df['Timestamp'] = pd.to_datetime(df.Timestamp) # 1

In [233]:
df[df.Timestamp.dt.month_name() == 'February'].shape[0] # 2

1270

In [234]:
vday_sales = df[df.Timestamp.dt.date == pd.to_datetime("Feb 14th, 2020")].loc[df.Timestamp.dt.hour >= 16].Price.sum()

round(vday_sales,2)

988.07

In [235]:
df[df.Timestamp.dt.date == pd.to_datetime("Feb 14th, 2020")].ProductName.value_counts().head(1)

My roommate looked good in this Denim Jacket    6
Name: ProductName, dtype: int64

## Cleaning Data

Sometimes, we'll have to manually adjust data. At gap, the prices indicate the type of sale the item is on. For example, prices that end in `.97` are on final sale, and can't be returned.

1. Using the set of rules below, create a dictionary that maps price endings to the clearance type. Remember, dictionary keys must be strings, so `99` should really be `'99'` 

99 => Clearance; 97 => Final Sale; 95 => Retail Price

2. In order to recognize the price endings, we've gotta (first) convert the floats into strings, (then) extract the numbers following the decimal, (and lastly) save the information to a new column, `ClearanceType`.

3. Finally, we'll map the price endings to type of clearance, using the dictionary we made earlier. Save this to `ClearanceType`.

4. Check the value counts of `ClearanceType` – which type is the most common?

In [274]:
clearance_types = {'95':'Retail Price', '97': 'Final Sale', '99': 'Clearance'} # 1

In [275]:
df['ClearanceType'] = df.Price.astype('str').str.split('.').str[-1] # 2

In [276]:
df['ClearanceType'] = df.ClearanceType.map(clearance_types) # 3

In [277]:
df.ClearanceType.value_counts(normalize=True).round(2)

Retail Price    0.55
Clearance       0.35
Final Sale      0.10
Name: ClearanceType, dtype: float64

## Working With Numerics

As it turns out, prices don't exactly reflect discounts. Let's work through and create more accurate numbers for revenue.

1. Create a `Discounts` column. If an item is on clearance, we'll apply a rate of 10%, else 0. Use a `map()` or `apply()` function to accomplish this.


2. Calculate a new column, `Paid`, that takes into account a flat tax rate of 6% and the discounts from our previous column.

3. What is the mean absolute difference between the amount paid and the listed price?

In [278]:
df['Discount'] = df.ClearanceType.map({'Clearance':0.1}).fillna(0) # or
df['Discount'] = df.ClearanceType.apply(lambda x: 0.1 if x == 'Clearance' else 0)

In [282]:
tax_rate = .06
df['Paid'] = round(df.Price * (1-df.Discount) * (1 + tax_rate), 2)

In [293]:
amt = (df.Paid - df.Price).abs().mean()
print('On average, the paid amount differs from the actual price by $'+str(round(amt,2)))

On average, the paid amount differs from the actual price by $2.44