## **This dataset shows the results of the March Madness Tournament (...of which we are still the reigning champs-no biggy...) from 1985 through 2016.**

Begin by importing the necessary packages, pandas (data frame applications) and numpy (numerical applications)

In [ ]:
import pandas as pd
import numpy as np

Now, let's read in our data to get a sense of its shape and contents.

URL =  `https://raw.githubusercontent.com/ishaandey/node/master/week-2/lab/ncaa-mens-historical.csv `

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/ishaandey/node/master/week-2/lab/ncaa-mens-historical.csv')

Find the shape of the data frame below, returned as a tuple with form: (rows, columns)

In [ ]:
print(df.shape)

(2050, 10)

Below, output only the first 10 rows of the data frame:

In [ ]:
df.head(10)

      Date        Round  ... Losing Score  Overtime
0  3/14/85  Round of 64  ...           43       NaN
1  3/14/85  Round of 64  ...           58       NaN
2  3/14/85  Round of 64  ...           68       NaN
3  3/14/85  Round of 64  ...           57       NaN
4  3/14/85  Round of 64  ...           83       NaN
5  3/14/85  Round of 64  ...           64       NaN
6  3/14/85  Round of 64  ...           54       NaN
7  3/14/85  Round of 64  ...           55       NaN
8  3/14/85  Round of 64  ...           57       NaN
9  3/14/85  Round of 64  ...           38       NaN

[10 rows x 10 columns]

Note: Each row is one game, and each column displays a different attribute of the game.

## **REGIONAL TRENDS**

Do the average winning and losing scores vary by coast? What trends can we find? 
1. Find the average winning score for the East region
2. Find the average winning score for the West region
3. Find the average losing score for the East region
4. Find the average losing score for the West region

In [ ]:
#use "df.columns" to help understand what the column names are before subsetting and selecting columns for analysis! 
df.columns

Index(['Date', 'Round', 'Region', 'Winning Seed', 'Winner', 'Winning Score',
       'Losing Seed', 'Loser', 'Losing Score', 'Overtime'],
      dtype='object')

In [ ]:
# average winning score for the east region
df[df.Region=='East']['Winning Score'].mean()

75.88343558282209

In [ ]:
# average winning score for the west region
df[df.Region=='West']['Winning Score'].mean()

78.09072164948454

Which coast can you conclude has the higher average Winning Score?

In [ ]:
# average losing score for the east region
df[df.Region=='East']['Losing Score'].mean()

64.13905930470348

In [ ]:
# average losing score for the west region
df[df.Region=='West']['Losing Score'].mean()

66.23298969072165

Which coast can you conclude has the lower average Losing Score?  What do these trends tell you about the overall performance of the two coasts compared to one another?

In [ ]:
#Below, display the sums of the winning scores, grouped by each REGION in DESCENDING order.
df.groupby(by='Region')['Winning Score'].agg('sum').sort_values(ascending=False)

Region
West                     37874
East                     37107
Midwest                  36684
South                    20843
Southeast                16691
National Semifinals       4302
National Championship     2153
Southwest                 1123
Name: Winning Score, dtype: int64

Which region has the highest summed Winning Score?

## **TEAM AND SEED TRENDS**

In [ ]:
#How many different Winning teams are there in the dataset?
df.Winner.nunique()

186

1. What is the most points scored by a single winning team?

In [ ]:
#Which Winning team shows in the dataset most frequently?
df.Winner.value_counts()

Duke                   90
North Carolina         82
Kansas                 77
Kentucky               75
Connecticut            55
                       ..
Louisiana-Lafayette     1
Florida A&M             1
Austin Peay             1
Pepperdine              1
Green Bay               1
Name: Winner, Length: 186, dtype: int64

In [ ]:
df["Winning Score"].max()

149

2. What team has the most National Championship wins?

In [ ]:
df[df.Round == "National Championship"]["Winner"].value_counts().head()

Duke              5
Connecticut       4
North Carolina    3
Kentucky          3
Kansas            2
Name: Winner, dtype: int64

3. What is the lowest (highest number) seed to win the national championship?

In [ ]:
# Lowest seed to win the national championship
df[df.Round == 'National Championship']["Winning Seed"].max()

8

Building on the above question, list out the lowest seeds in DESCENDING ORDER for all of the winners for ALL rounds in the data frame (Hint: use .group_by())

In [ ]:
# List the lowest seeds for all winners (of all rounds), in descending order:
#df.groupby(by='Winner')['Winning Seed'].agg('max') #gives each winner's lowest seed
df.groupby(by='Winner')['Winning Seed'].agg('max').sort_values(ascending=False) #sorts from greatest to least

Winner
Hampton                     16
North Carolina-Asheville    16
Florida Gulf Coast          16
Siena                       16
Holy Cross                  16
                            ..
Duke                         5
Loyola, Illinois             4
Texas Christian              4
Washington State             4
Massachusetts                3
Name: Winning Seed, Length: 186, dtype: int64

4. What is the lowest seed to COMPETE in the national championship? (Hint: this implies of all Winning Seeds AND Losing Seeds).

In [ ]:
max(df[df.Round == 'National Championship']['Losing Seed'].max(), df[df.Round == 'National Championship']['Winning Seed'].max())

8

5. What is the average seed of a championship competitor?

In [ ]:
# One way of doing it (summing seeds for winners and losers, then dividing by total number of seeds)
seeds_sum = df[df.Round == 'National Championship']["Winning Seed"].sum() + df[df.Round == 'National Championship']["Losing Seed"].sum()
seeds_sum / (df[df.Round == 'National Championship']["Winning Seed"].size * 2) #(there are an equal number of winning and losing seeds)

2.390625

In [ ]:
# Another way of doing it (summing the two individual means, then division by 2)
sum([df[df.Round == 'National Championship']["Winning Seed"].mean(), df[df.Round == 'National Championship']["Losing Seed"].mean()]) / 2

2.390625

6a. What is the percentage of games that are upsets? (Keep in mind that an upset occurs when the winning seed is larger than the losing seed.)

In [ ]:
proportion=df[df["Winning Seed"] > df["Losing Seed"]].shape[0] / df.shape[0]
proportion

0.27463414634146344

In [ ]:
# If we want to get fancy
"{:.2%}".format(proportion)

'27.46%'

6b. Are games that go to OVERTIME more likely to be upsets (than any given game)?

In [ ]:
ot_games = df[df.Overtime.notna()]
ot_proportion = ot_games[ot_games["Winning Seed"] > ot_games["Losing Seed"]].shape[0] / ot_games.shape[0]
ot_proportion

#Alternative method:
#overtime=df[df.Overtime.isin(["1 OT", "2 OT"])].shape[0] #number of overtime games
#overtime_upsets=df[df.Overtime.isin(["1 OT", "2 OT"])][df['Winning Seed']>df['Losing Seed']].shape[0] #overtime df subset at upsets
#overtime_upsets/overtime

0.35384615384615387

In [ ]:
# Yes; compared the proportion of overtime games that are upsets to the proportion of all games that are upsets
ot_proportion > proportion

True

7. What team has the most National Championship appearances? (Hint: look at the documentation of the np.hstack() function to help!)

In [ ]:
?np.hstack()
pd.Series(np.hstack((df[df.Round == "National Championship"]["Winner"], df[df.Round == "National Championship"]["Loser"]))).value_counts().head()

Duke           9
Kentucky       5
Kansas         5
Michigan       4
Connecticut    4
dtype: int64

8a. What is the percentage of national championship games that are won by less than 5 points?

In [ ]:
df[df.Round == "National Championship"][df["Winning Score"] < df["Losing Score"] + 5].shape[0] / df[df.Round == "National Championship"].shape[0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.3125

8b.What about the percentage of national championship games won by exactly one point?

In [ ]:
df[df.Round == "National Championship"][df["Winning Score"] == df["Losing Score"] + 1].shape[0] / df[df.Round == "National Championship"].shape[0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.0625

9. How many national championship games have gone to overtime?

In [ ]:
df[df.Round == "National Championship"][df.Overtime.notna()].shape[0] #subset tuple for the number of rows (number of games)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

3

BONUS: Come up with a question about the dataset and answer it using Pandas