## Human Learning

Machine learning is nothing more than empowering computational power with human intuition.

<br>**In groups**, see if you can figure out if Carter will eat the following pizzas, based on her previous 20 orders

|Pizza_ID|Pepperoni|Chicken|Spinach|Pineapple|Carter_Eats|
|--------|---------|-------|-------|---------|-----------|
|22      |1        |1      |1      |1        |**??**         |
|23      |0        |1      |1      |0        |**??**         |
|24      |1        |0      |0      |1        |**??**         |

|Pizza_ID|Pepperoni|Chicken|Spinach|Pineapple|Carter_Eats|
|--------|---------|-------|-------|---------|-----------|
|6       |1        |1      |1      |0        |0          |
|7       |0        |1      |0      |0        |1          |
|8       |0        |0      |1      |1        |0          |
|9       |0        |0      |1      |0        |1          |
|10      |0        |0      |0      |1        |1          |
|11      |1        |0      |0      |0        |0          |
|12      |1        |1      |0      |0        |0          |
|13      |0        |1      |1      |1        |1          |
|14      |1        |0      |1      |1        |0          |
|15      |0        |0      |0      |0        |1          |

## Import Data

In [30]:
import pandas as pd
import numpy as np

In [59]:
pizza = pd.read_csv('pizza.csv')
pizza.head()

,Pizza_ID,Category,Pepperoni,Chicken,Spinach,Pineapple,6_Inch,12_Inch,18_Inch,Carter_Eats,Christian_Eats
0,1,Training,1,1,1,1,1,0,0,0,0
1,2,Training,0,0,0,1,1,0,0,1,0
2,3,Training,0,0,1,0,1,0,0,0,0
3,4,Training,0,1,0,1,1,0,0,1,0
4,5,Training,1,1,0,0,1,0,0,0,0

## Modelling Carter's Pizza Preferences

In [119]:
pizza_carter = pizza.drop(columns=['Pizza_ID', 'Category', 'Christian_Eats'])
training = pizza_carter[:20]
testing = pizza_carter[20:]

In [120]:
X_train = training.drop(columns=['Carter_Eats'])
y_train = training['Carter_Eats']

X_test = testing.drop(columns=['Carter_Eats'])
y_test = testing['Carter_Eats']

In [121]:
from sklearn.linear_model import LogisticRegression

In [133]:
clf = LogisticRegression()
clf.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [134]:
carter_predicted = clf.predict(X_test)
carter_actual = np.array(y_test)

print('Predictions:', carter_predicted)
print('Actual:     ', carter_actual)

carter_matches = carter_predicted == carter_actual

Predictions: [0 0 1 0 1]
Actual:      [0 0 1 0 1]

In [147]:
pd.DataFrame(clf.predict_proba(X_test)[:,1], columns = ['Probability of Carter Eating Pizza'])

   Probability of Carter Eating Pizza
0                            0.125952
1                            0.187722
2                            0.566550
3                            0.284699
4                            0.569522

## Christian Eats